<ul class="header card-shadow">
  {{#link-to "index" }}
  <li>Home</li>
  {{/link-to}}

  {{#link-to "contact" }}
  <li>Contact</li>
  {{/link-to}}

  {{#link-to "about" }}
  <li>About</li>
  {{/link-to}}
</ul>
<br style="clear:both;"/>

{{outlet}}

<div class="card-shadow" style="margin-left:33%; width:400px;;background-color:white;">
  <img src="http://i.imgur.com/KhcFtHb.png" style="max-width:400px;" /> <br />
  <div style="text-align:center;">
    <div>
      Created by Ji Zhang.
    </div>
    <div>
      zhan586@usc.edu
    </div>
  </div>
  <br />
</div>
