<ul class="header card-shadow">
  {{#link-to "index" }}
  <li>Home</li>
  {{/link-to}}

  {{#link-to "contact" }}
  <li>Contact</li>
  {{/link-to}}

  {{#link-to "about" }}
  <li>About</li>
  {{/link-to}}
</ul>
<br style="clear:both;"/>

{{outlet}}
This is created by Ji Zhang.
