{{outlet}}
<ul class="header card-shadow">
  {{#link-to "index" }}
    <li>Home</li>
  {{/link-to}}

  {{#link-to "contact" }}
    <li>Contact</li>
  {{/link-to}}

  {{#link-to "about" }}
    <li>About</li>
  {{/link-to}}
</ul>
<br style="clear:both;" />

<div id="container">

  <button id='search-btn' type="button"  onclick={{action 'createWC'}} >search</button>
  <input id="input-search" value='input-search' />

  <div class="sk-folding-cube" id="spiner-overlay">
    <div class="sk-cube1 sk-cube"></div>
    <div class="sk-cube2 sk-cube"></div>
    <div class="sk-cube4 sk-cube"></div>
    <div class="sk-cube3 sk-cube"></div>
  </div>

  <div id="my_canvas" class="card-shadow" style="width:500px; height:500px; margin-top:20px;">

  </div>
  <div id="pie_chart" class="card-shadow" style="width:500px; height:500px; margin-top:20px;"></div>

</div>
<!-- end of container -->

<style>
  #container {
    margin-top: 20px;
    margin-left: 30%;
  }

  #my_canvas {}

  .card-shadow {
    border-radius: 7px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 6px 0 rgba(0, 0, 0, 0.12);
  }

  .card-shadow:hover {
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
    box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.16), 0 4px 13px 0 rgba(0, 0, 0, 0.12);
  }
</style>
